<?xml version="1.0"?>
<config>
<!--This is a config file for the Irrlicht Engine Mesh Viewer.-->
<startUpModel file="dwarf.x" />
<messageText caption="Irrlicht Engine Mesh Viewer">Welcome to the Mesh Viewer of the &quot;Irrlicht Engine&quot;!.
This program is able to load and display all 3D geometry and models the Irrlicht Engine can.
Controls: Left mouse to rotate, right mouse to move, both buttons to zoom. Escape to Stop FPS Camera

Supported formats are:
- Irrlicht scene and mesh formats (.irr, .irrmesh, .xml)
- 3D Studio (.3ds)
- Blitz3D (.b3d)
- COLLADA 1.2/1.3 (.dae, .xml)
- Cartography shop 4 (.csm)
- DirectX (.x)
- DeleD (.dmf)
- Maya (.obj)
- Milkshape (.ms3d)
- My3D (.my3D)
- OCT (.oct)
- Ogre3d (.mesh)
- Pulsar LMTools (.lmts)
- Quake 3 levels (.bsp)
- Quake 2 models (.md2)
- Stanford Triangle (.ply)
- Stereolithography format (.stl)

</messageText>
</config>
